{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="{{ path("app_admin_home") }}">Home</a></li>
        <li role="presentation" class="active"><a href="{{ path("app_admin_new_product") }}">Add product</a></li>
    </ul>
{% endblock %}